{% extends 'layout.html' %}

{% block Content %}
<div class="container home text-center">

    <br>
    <h1>Convert Your Images</h1><hr>
    <br>
    <p class="fs-5 ">You can convert your JPEG image to PNG image or PNG image to JPEG image.</p>
    <p class="fs-5 ">Choose your JPEG or PNG image to convert it into other format</p>
    <br>
    <div class="mb-5">
        <form action="{{url_for('converter')}}" method="post" enctype = 'multipart/form-data'>
            
            <label class="btn btn-primary btn-md px-4 p-3"><input type="file" id="img" name="img" accept="image/*" ></label>
            
            <div class="container m-3">
            <input type="submit" class="btn btn-success btn-md px-4 p-3 ms-3" value="Convert and Download Image">
            
            

            </div>
        </form>
        
    </div>
    
</div>
{% endblock  %}
